@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Varta:wght@500&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding:0;
}

nav{
    font-family: "Karla", sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 49px;
    background-color: black;
    color:white;  
}

nav ul li {
    padding: 1%;
}

.brand img{
    width:44px;
    padding: 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
  min-height: 75vh;
  background-color: black;
  color:white;
  font-family: "Varta", sans-serif;
  display: flex;
  margin: 12px auto;
  padding: 35px;
  width:70%;
  border-radius: 12px;
  background-image: url('bg.jpg');
  background-size: cover;

}

.bottom{
    position:sticky;
    bottom: 0;
    height: 110px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
   margin: 12px 0px;
}

.icons i{
cursor: pointer;
}

#myProgressBar{
width: 80vw;
}

.songItemContainer{
    margin-top: 25px;
}

.songItem{
height: 50px;
display: flex;
background-color: aliceblue;
color:black;
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 34px;
}

.songItem img{
width: 45px;
margin: 0 23px ;
border-radius: 34px;
}

.timestamp{
margin: 0 23px;
}

.timestamp i{
cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: white;
    font-family: "Varta", sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity ease-in 0.5s;
}