*{
    margin:0;
    padding:0;
    font-family: cursive;
    box-sizing: border-box;
}
.app{
    width:100%;
    min-height:100vh;
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding:10px;
}
.quiz-box{
    width:100%;
    max-width:540px;
    background: #FDF4DC;
    margin: 125px auto 50px;
    padding:100px 50px 200px;
    border-radius: 20px;
}
.quiz-box h3{
    color:greenyellow ;
    display: block;
    align-items: center;
    margin-bottom:20px ;
}
.row{
display:grid;
align-items:center;
justify-content: space-evenly;
background: goldenrod;
border-radius:15px ;
padding-left:20px ;
margin-bottom:25px ;
}