body{
background-color: gray;
text-align: center;
font-family: 'Arial', sans-serif;
color: black;
margin: 0;
padding: 0;
}

header{
    background-image: url(image.jpg);
    color: black;
    padding: 50px 20px;
    background-size: center;
    background-position: center;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 45px;
}

header h3{
    font-size: 25px;
}

.action{
    background-color: rgba(0, 174, 255, 0.267);
    width: 90px;
    height: 30px;
    font-weight: 500;
    text-decoration: solid;
    transition : background-color 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.action:hover {
    background-color: #0056b3;
}

.features{
    justify-content: center;
    display: flex;
    padding: 20px;
}

.feature{
    margin-left: 50px;
    margin-right: 50px;
    background-color: aliceblue;
    padding: 75px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer{
    background-color: aqua;
    margin: 0;
    text-align: center;
    padding: 25px;
    font-weight: 800;
}
