body{
   font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{ 
    background-color: #6a1b9a;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 20px;
}

header nav ul{
  list-style: none;
  padding: 0;
}

header nav ul li{
display: inline;
margin: 0 15px;
}

header nav ul li a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: 0;

}
 
.title{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

main{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.title h3{
   color: rgba(0, 0, 0, 0.397);
   font-weight: lighter;
}

.another {
    margin-top: 10px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.another h3{
    color: rgba(0, 0, 0, 0.397);
    font-weight: lighter;
}


footer{
    text-align: center;
    background-color: #6a1b9a;
    padding:50px;
    color: black;
    font-weight: 800;
}