body{
            font-family: "Roboto", sans-serif;
}

h1{
     text-align: center;
}

h3{
    text-align: center;
}

.port img{
display: block;
margin:auto;
}

.all{
    padding: 100px;
    background-color: #f4f4f4;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;

}

.about{
    margin-top: 20px;
text-align: center;
padding: 100px;
background-color: #f4f4f4;
margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

section{
    margin: 20px;
}

.project{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

#work {
    background-color: #e9e9e9;
    padding: 15px;
}

footer {
     margin-top: 20px;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

